---
import Section from "@/components/Section.astro"

import { certificates } from "@cv"
---

<Section title="Certificados">
  {
    certificates.map(({name, issuer}) => {
      return(
        <div class="center-data-certificates">
          <p>{name} - <span>{issuer}</span></p>
        </div>
      )
    })
  }
</Section>

<style>
  .center-data-certificates {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .center-data-certificates > p {
    margin-bottom: 5px;
  }

  .center-data-certificates > p > span {
    font-size: 0.75rem !important;
  }

  @media print {
    .center-data-certificates > p {
      margin-bottom: 5px;
    }
  }
</style>