---
import Section from "../Section.astro"

import GitHub from "../icons/Github.astro"
import { projects } from "@cv"
---

<Section title="Proyectos">
  <ul>
    {
      projects.map(
        ({ url, description, highlights, name, isActive }) => {
          return (
            <li>
              <article>
                <div class="top">
                  <header>
                    <h3>
                      <a href={url} target="_blank" title={`Ver el proyecto ${name}`}>
                        {name}
                        <GitHub />
                      </a>
                    </h3>
                  </header>
                  <footer>
                    {highlights.map((highlight) => {
                      return <span>{highlight}</span>
                    })}
                  </footer>
                </div>
                <p>
                  { description }
                </p>
              </article>
            </li>
          )
        }
      )
    }
  </ul>
</Section>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  /*
  li {
    border-bottom: #6b6b6b 1px dotted;
    padding: 0.25rem 0 0.75rem;
  }
  */

  article {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
  }

  article header {
    flex: 1;
  }

  article h3 {
    font-weight: 500;
    color: #111;
  }

  article a {
    color: #111;
  }

  article a:hover {
    text-decoration: underline;
  }

  article p {
    font-size: 0.90rem;
    line-height: 1.2rem;
    margin-bottom: 4px;
  }

  article h3 span {
    color: rgb(0, 188, 47);
    animation-name: flicker;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: nowrap;
    gap: 4px;
  }

  footer span {
    border-radius: 300px;
    border: solid 1px #cfcfcf;
    background: #ffffff;
    color: #1b1b1b;
    font-size: 0.6rem;
    font-weight: 500;
    padding: 0.2rem 0.5rem;
  }

  .github-code-link {
    margin-left: 5px;
  }

  @keyframes flicker {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.25;
    }
    100% {
      opacity: 1;
    }
  }

  @media (width <= 700px) {
    ul {
      margin-inline: 0px;
    }
  }

  @media (width <= 700px) {
    .top {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 5px;
    }
  }

  @media print {
    article h3 span {
      animation-name: none;
    }

    ul {
      gap: 0.5rem;
    }

    article p {
      font-size: 0.8rem;
      line-height: 1rem;
    }
  }
</style>