---
import Section from "../Section.astro"
import HTML from "@/components/icons/HTML.astro"
import CSS from "@/components/icons/CSS.astro"
import JavaScript from "@/components/icons/Javascript.astro"
import TypeScript from "@/components/icons/Typescript.astro"
import React from "@/components/icons/React.astro"
import Node from "@/components/icons/Node.astro"
import MySQL from "@/components/icons/Mysql.astro"
import Git from "@/components/icons/Git.astro"
import Tailwind from "@/components/icons/Tailwind.astro"
import { skills } from "@cv"
import Kotlin from "@/components/icons/Kotlin.astro"
import Flutter from "@/components/icons/Flutter.astro"
import Vue from "@/components/icons/Vue.astro"
import PostgresSQL from "@/components/icons/PostgresSQL.astro"
import SQLite from "@/components/icons/SQLite.astro"
import Mongodb from "@/components/icons/Mongodb.astro"
import Springboot from "@/components/icons/Springboot.astro"
import Java from "@/components/icons/Java.astro"
import Python from "@/components/icons/Python.astro"

const SKILLS_ICONS: Record<string, any> = {
  HTML,
  CSS,
  JavaScript,
  TypeScript,
  React,
  Vue,
  Node,
  Java,
  Springboot,
  Python,
  MySQL,
  PostgresSQL,
  SQLite,
  Mongodb,
  Git,
  Tailwind,
  Kotlin,
  Flutter,
}
---

<Section title="Habilidades">
  <ul>
    {
      skills.map(({ name }) => {
        const iconName = name === "Next.js" ? "Next" : name
        const Icon = SKILLS_ICONS[iconName]

        return (
          <li>
            {Icon && <Icon />} <span>{name}</span>
          </li>
        )
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: inline-flex;
    gap: 8px;
    flex-wrap: wrap;
  }

  li {
    align-items: center;
    background: #eee;
    border-radius: 6px;
    color: black;
    display: flex;
    font-size: 0.8rem;
    font-weight: 500;
    gap: 4px;
    padding: 0.2rem 0.6rem;
  }

  @media print {
    li {
      border: solid 1px #eee;
    }
  }
</style>